---
import Counter from "@components/Counter.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alpine js</title>
  </head>
  <body>
    <h1>Alpine js</h1>
    <Counter />
    <script>
      import Alpine from "alpinejs"
      Alpine.start()
    </script>
  </body>
</html>
